.carousel-list__item {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	height: 100%;
	flex-basis: 30%;
	max-width: 30%;
	min-height: 260px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: em(30);
	background-color: $white;

	@media all and (max-width: $xl) {
		flex-basis: 28%;
		max-width: 28%;
		min-height: 160px;
	}
	@media all and (max-width: $lg) {
		flex-basis: 38%;
		max-width: 38%;
		min-height: 160px;
	}

	@media all and (max-width: $md) {
		flex-basis: 38%;
		max-width: 38%;
		min-height: 160px;
	}
	
	@media all and (max-width: $sm) {
		flex-basis: 38%;
		max-width: 38%;
		min-height: 160px;
	}

	@media all and (max-width: $xs) {
		flex-basis: 90%;
		max-width: 90%;
		min-height: 160px;
	}
}