.label__name {
	font-size: em(16);
	text-transform: uppercase;
	white-space: pre;
	font-style: normal;
	font-stretch: condensed;
	line-height: normal;
	letter-spacing: 6px;
	color: $white;
	display: block;
	margin: auto;
	
}